<% # /app/views/welcome/index.html.erb %>
<div class="jumbotron">
  <h1 class="display-4 text-center">About Hi, Welcome To Move And Groove!</h1>
  <p class="lead text-center">Move And Groove Is Your Number One Fitness Tracker App... Track Your Daily Fitness Routine To Stay In Shape!</p>
</div>
<%= fa_icon "baby", text: "BB", class: 'mx-2', size: '5x' %>
<br />
<i class="fab fa-facebook-f fa-3x mx-2"></i>
<p><%= link_to 'Users:', edit_user_registration_path %> <%= User.count %> registered</p>

