<div class="jumbotron">
  <h1 class="display-4 text-center">About Move And Groove!</h1>
  <p class="lead text-center">Move And Groove Is Your Number One Fitness Tracker Web Application... Track Your Daily Fitness Routine To Stay In Shape!</p>
  <p> List of activities available for tracking </p>
  <ol>
    <li>Running </li>
    <li>Weight Lifting </li>
    <li>Walking </li>
    <li>Skiing </li>
    <li>Swimming </li>
    <li>Hiking </li>
    <li>Skating </li>
    <li>Cycling </li>
    <li>Snowing </li>
    <li>Wheel-Chair </li>
  </ol>

   <strong> “What hurts today makes you stronger tomorrow.”

  — Jay Cutler, pro bodybuilder and four-time Mr. Olympia
    </strong>
  

</div>
