<div class="footer">

  <footer class="mt-auto py-3 text-muted text-center text-small fixed-bottom">
    <div class="container">
        <p class="mb-1">&copy; <%= Time.now.year %> Designed and Developed by <a href="http://kelvinator07.github.io/" target="_blank">Geeky Kel</a></p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </div>
  </footer>
  
</div>